.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  padding: 1rem;
  font-size: calc(0.5rem + 2vmin);
}

.App-logo {
  height: 20vmin;
  margin-right:-1rem;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: calc(0.5rem + 2vmin); */
}

.App-link {
  color: #fbae39;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  width: 15rem;
  font-size: calc(2rem + 2vmin);
}
